<h1>New payday</h1>

<%= error_messages_for :payday %>

<% form_for(@payday) do |f| %>
  <p>
    <b>Name</b><br />
    <%= f.text_field :name %>
  </p>

  <p>
    <b>Due date</b><br />
    <%= f.date_select :due_date %>
  </p>

  <p>
    <b>Amount</b><br />
    <%= f.text_field :amount %>
  </p>

  <p>
    <b>Note</b><br />
    <%= f.text_area :note, :rows => 4, :cols => 50%>
  </p>

  <p>
    <%= f.submit "Create" %>
  </p>
<% end %>

<%= link_to 'Back', paydays_path %>
